{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Ajout Languages {% endblock %}  

{% block contenu %} 

    <div class="wrapper" style="text-align: center">
        <form class="form-signin" action="index.php?page=languages" method="post"
              enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="panel panel-default">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tr><th></th><th style="text-align: center">Languages disponibles</th></tr>
                                        {% for ld in listeld %}
                                    <tr><td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{ld.id}}"/></td><td>{{ld.nom}}</td></tr>
                                        {% endfor %}
                            </table>

                        </div>

                    </div>
                    {% if listeld != empty %}
                        <a href="index.php?page=languages"><button class="btn btn-lg btn-primary btn-block" type="submit" name="btCoder" id="btCoder">Ajouter</button></a>
                        <br/><br/>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="panel panel-default">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tr><th style="text-align: center">Mes languages</th><th></th><th></th></tr>
                                        {% for ml in listeml %}
                                    <tr><td>{{ml.nom}}</td><td><div class="btn-group btn-group-lg"><a href="index.php?page=languages&id={{ml.idLanguage}}"><span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td><td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{ml.idLanguage}}"/></td></tr>
                                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% if listeml != empty %}
                        <a href="index.php?page=languages"><button class="btn btn-lg btn-block btn-primary" type="submit" name="btSuppListe" id="btSuppListe">Supprimer</button></a>
                    {% endif %}
                </div>
            </div>

        </form>

    </div>

{% endblock %}