{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} ModifLanguages {% endblock %}  

{% block contenu %}

    {% if form.langage is defined %}

        {% if form.langage != null %}

    <div class="wrapper" style="text-align: center">
    <form class="form-signin" action="index.php?page=modiflanguages" method="post"
          enctype="application/x-www-form-urlencoded">


        <h1 class="h1 mb-3 font-weight-normal">Modifier un language</h1>


        <label for="inputModifLang" class="sr-only">Nom:</label>
        <input type="text" id="inputModifLang" name="inputModifLang" class="form-control"
               placeholder="Saisir un language" value="{{ form.langage.nom }}" required autofocus>
        
        <input type="hidden" name="idlangage" value="{{ form.langage.id }}"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit"
                name="btModifLang" id="btLang">Modifier</button>

    </form>
    </div>

        {% else %}
            <div class="wrapper" style="text-align: center">
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=ajoutlanguages">Retourner sur la liste des langages</a></h1>
            </div>
        {% endif %}
    {% else %}
        {% if form.valide == true %}
            <div class="wrapper" style="text-align: center">
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=ajoutlanguages">Retourner sur la liste des langages</a></h1>
            </div>
        {% else %}
            <div class="wrapper" style="text-align: center">
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=ajoutlanguages">Retourner sur la liste des langages</a></h1>
            </div>
        {% endif %}

    {% endif %}
{% endblock %} 