{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Statistiques {% endblock %}

{% block contenu %}

    <div class="wrapper" style="text-align: center"> 
        <div class="row">
            <br/><br/>

            <h1 style="color: #2056ac">Connexions des développeurs :</h1>
            <nav aria-label="navigation"> Recliquez après chaque changement.<br/> Afficher un graphique par : 
                <ul class="pager">
                    <li id="btannee"><a title="Annee" >Année</a>     </li>
                    <li id="btmois"><a title="Mois" >Mois</a>     </li>
                    <li id="btjour"><a title="Jour" >Jour</a></li>
                </ul>
            </nav>



        </div>





        <div class="row">



            <div class="col-lg-4 col-sm-12">
                <form class="form-signin" action="index.php?page=stats" method="post"
                      enctype="application/x-www-form-urlencoded">


                    <!-- DÉBUT DE Pour changer l'ANNEE :  -->


                    <div class="form-group" id="divselectannee"> <!-- Pour changer l'année de l'ANNEE -->
                        <h3 id="afficherannee" style="color: #2056ac">Le graphique représente l'année {{ form.afficherannee }}</h3>
                        <select class="form-control" id="selectannee">
                            <option value="" disabled="disabled" selected>Cliquez pour changer d'année</option>
                            {% for i in 2020..2022 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div></div>
                    </div>

                    <!-- FIN DE Pour changer l'ANNEE -->


                    <!-- DÉBUT DE Pour changer le MOIS :  -->


                    <div class="form-group" id="divselectannee2"> <!-- Pour changer l'année du MOIS -->
                        <h3 id="affichermois" style="color: #2056ac">Le graphique représente le {{ form.affichermois }}e mois de l'an {{ form.afficherannee }} </h3>
                        <select class="form-control" id="selectannee2">
                            <option value="" disabled="disabled" selected>Changez l'année en premier</option>
                            {% for i in 2020..2022 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div></div>
                    </div>



                    <div class="form-group" id="divselectmois"> <!-- Pour changer le mois du MOIS -->
                        <select class="form-control" id="selectmois">
                            <option value="" disabled="disabled" selected>Changez le mois ensuite</option>
                            {% for j in range(1, 12) %}
                                <option value="{{ j }}">{{ date('2019-' ~ j ~ '-01') |date('F, t') }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <!-- FIN DE Pour changer le MOIS -->


                    <!-- DÉBUT DE Pour changer le JOUR : -->


                    <div class="form-group" id="divselectannee3"> <!-- Pour changer l'année du JOUR -->
                        <h3 id="afficherjour" style="color: #2056ac">Le graphique représente le {{ form.afficherjour }}e jour du {{ form.affichermois }}e mois de l'an {{ form.afficherannee }} </h3>
                        <select class="form-control" id="selectannee3">
                            <option value="" disabled="disabled" selected>Changez l'année en premier</option>
                            {% for i in 2020..2022 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div></div>
                    </div>

                    <div class="form-group" id="divselectmois1"> <!-- Pour changer le mois du JOUR -->
                        <select class="form-control" id="selectmois1">
                            <option value="" disabled="disabled" selected>Changez le mois ensuite</option>
                            {% for j in range(1, 12) %}
                                <option value="{{ j }}">{{ date('2019-' ~ j ~ '-01') |date('F, t') }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group" id="divselectjour"> <!-- Pour changer le jour du JOUR -->
                        <select class="form-control" id="selectjour">
                            <option value="" disabled="disabled" selected>Changer le jour pour finir</option>
                            {% for i in 1..31 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </form>
            </div>


            <!-- FIN DE Pour changer le JOUR -->


            <!-- DÉBUT DE L'Affichage des graphiques : -->


            <!-- Graphique pour les années (voir les statistiques par mois de l'année X) -->
            <div style="overflow-x:auto;">
                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph">
                        <img width=600 src="data:image/png;base64, {{ graph }}" alt="" />
                    </div>

                </div>
            </div>

            <!-- Graphique pour les mois (voir les statistiques par jours du mois X) -->
            <div style="overflow-x:auto;">
                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph2">
                        <img width=600 src="data:image/png;base64, {{ graph2 }}" alt="" />
                    </div>

                </div>
            </div>

            <!-- Graphique pour les jours (voir les statistiques par heure du jour X, du mois X et de l'année X) -->
            <div style="overflow-x:auto;">
                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph3">
                        <img width=600 src="data:image/png;base64, {{ graph3 }}" alt="" />
                    </div>

                </div>
            </div>

            <!-- FIN DE L'Affichage des graphiques -->


        </div>
    </div>



    <br/><br/><br/>



{% endblock %}    